html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color:#040912;
}

h1 {
  text-align: center;
  font-size: 50px;
  color:white
  
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
